/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-----------------------
 utilities 
-------------------------*/
body{
    margin: 0;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    /* margin: 0 120px 0 120px;  */
    color: #3A3A3A;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----------------------------------
 header part 
-----------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 120px;
    align-items: center;
}
.site-name{
    font-size: 24px;
}
.site-name:hover{
    cursor: pointer;
    color: #e25c8d;
    transition: .1s;
}
.menu-button{
    font-size: 22px;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-left: 20px;
}
.menu-items ul{
    display: flex;
    margin-right: 120px;
}
.menu-items li{
    list-style: none;
}
.menu-items a:hover{
    color: #ee5c91;   
}
.menu-items a{
    font-size: 16px;
    text-decoration: none;
    margin-right: 34px;
    color: #3A3A3A;
}
.fa-search{
    font-size: 24px;
}
.fa-shopping-cart{
    font-size: 30px;
}

/*---------------------------------
 influencer part 
-----------------------------------*/
.container{
   display: flex;
}
.influence-details{
    width: 100%;
    margin-left: 120px;
    overflow: hidden;
}
.influence-info{
    margin-top: 120px;
}
.heading{
    font-size: 50px;  
    margin-bottom: 10px;
}
.heading-details{
    font-size: 16px;
}
button{
    background: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 40px;
    border: none;
    display: inline-block;
    margin-top: 16px;
    transition: .2s;
}
button:hover{
    background-color: #787885;
}
button>a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.fa-arrow-right{
    font-size: 16px;
    margin-left: 5px;
}
.influencing-pic{
    width: 30px;
    height: 350px;
}
.influencer-details img{
    margin-left: 80px;
    width: 60%;
    margin-top: 30px;
}
.influencer-details img:hover{
    transform: rotate(360deg);
    transition: .9s transform;
    cursor: pointer;
}

/*-----------------------------------
logo part 
-------------------------------------*/
.company-logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 60px;
    align-items: center;
    border: 1px solid #f1eded;
    border-left: none;
    border-right: none;
    width: 1110px;
    height: 110px;
    margin: 100px 165px 100px 165px;
}
.company-logos:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(76, 76, 241),aqua);
    border-radius: 10px;
}

/*---------------------------
 popular collection 
-----------------------------*/
.popular-collection h1{
    text-align: center;
    font-size: 28px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
}
.fa-star .fa-star-half{
    font-size: 12px;
}
.fa-star.filled, .fa-star-half.filled{
    color: #FB8200;
}
.collection{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 14px;
    overflow: hidden;
    cursor: pointer;
}
.collection img:hover{
    transform: scale(2,1);
    transition: .9s transform;
    cursor: pointer;
}
.collection img{
    width: 300px;
    height: 256px;
}
.collection h2{
    font-size: 28px;
    font-weight: normal;
    color: #18191F;
}
.collection h3{
    font-size: 24px;
    color: #18191F;
    font-weight: normal;
}
.collection p{
    font-size: 14px;
    font-weight: bold;
    color: #787885;
}
.rating{
    padding-left: 8px;
    font-size: 14px;
}
.see-more h5{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
    position: absolute;
    left: 81%;
    cursor: pointer;
}

/*--------------------------------------
 learning part 
 ------------------------------------*/
.learning-part{
    margin-top: 8%;
    align-items: center;
}
.section-tittle{
    text-align: center;
    margin-bottom: 60px;
}
 .full-guide{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 20px;
 }
.more-article{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
    cursor: pointer;
}
/*---------------------------
 footer part 
------------------------------*/
footer{
    background-color: rgb(6, 6, 36);
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}
footer h1,#footer-info,h5,.space{
    color: #ddd3d3;
}
footer h1{
    font-size: 24px;
    margin-bottom: 1px;
}
footer p,h5{
    font-size: 14px;
    margin-top: 0;
}
.space{
    padding-right: 20px;
    padding-bottom: 30px;
}

/*---------------------------
 Media Queries mobile devices
-----------------------------*/
@media only screen and (max-width:688px) {
    .menu-button{
        display: block;
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-items ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        position: fixed;
        top: 80px;
        left: -100%;
        height: 10vh;
        width: 100%;
    }
    .menu-items li{
        display: block;
    }
    .menu-items a{
        font-size: 20px;
    }
    .container{
        display: block;
        flex-direction: column-reverse;
    }
    .heading{
        font-size: 25px;
    }
    .influence-details{
        order: 1;
    }
    .company-logos{
        width: 100%;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-collections{
        width: 80%;
        margin-bottom: 20px;
    }
    .collections{
        display: block;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
    }
    .collection img{
        width: 100%;
    }
    .full-guide{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
}

/*--------------------------------------
 Media Queries mobile devices 
----------------------------------------*/
@media only  screen and (min-width: 668px) and (max-width: 992px) {
    .container{
        width: 100%;
        display: block;
        flex-direction: column-reverse;
    }
    .heading{
        font-size: 25px;
    }
    .influence-details{
        order: 1;
    }
    .company-logos{
        width: 100%;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .popular-collections{
        margin-bottom: 20px;
    }
    .collections{
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .collection{
        width: 100%;
    }
    .collection img{
        width: 80%;
    }
    .full-guide{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
}

