/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*-----------------------
 utilities 
-------------------------*/
body{
    margin: 0;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    /* margin: 0 120px 0 120px;  */
    color: #3A3A3A;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----------------------------------
 header part 
-----------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 120px;
    align-items: center;
}
.logo-name{
    font-size: 24px;
}
.menu-items ul{
    display: flex;
    margin-right: 120px;
}
.menu-items li{
    list-style: none;
}
.menu-items a{
    font-size: 16px;
    text-decoration: none;
    margin-right: 34px;
    color: #3A3A3A;
}
.fa-search{
    font-size: 24px;
}
.fa-shopping-cart{
    font-size: 30px;
}

/*---------------------------------
 influencer part 
-----------------------------------*/
.container{
   display: flex;
}
.influence-details{
    width: 60%;
    margin-left: 120px;
}
.influence-info{
    margin-top: 120px;
}
.heading{
    font-size: 50px;  
    margin-bottom: 10px;
}
.heading-details{
    font-size: 16px;
}
button{
    background: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 40px;
    border: none;
    display: inline-block;
    margin-top: 16px;
}
button>a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.fa-arrow-right{
    font-size: 16px;
    margin-left: 5px;
}
.influencing-pic{
    width: 440px;
    height: 414px;
}
.influence-details img{
    width: 80%;
    margin-top: 30px;
}